{% extends 'base.html.twig' %}

{% block title %}最新动态_{{ parent() }}{% endblock %}
{% if category is defined %}
{% block keywords %}{{ category.keywords }}_{{ parent() }}{% endblock %}
{% block description %}{{ category.description }}_{{ parent() }}{% endblock %}
{% endif %}
{% block body %}
    <div class="container my-5">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">首页</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ category.title }}</li>
            </ol>
        </nav>

        <ul class="list-group list-group-flush">
    {% for article in articles %}
            <li class="list-group-item">
                <a href="{{ path('article_show',{'slug': article.slug}) }}"><img src="{{ article.titleImg ? : default_image | imagine_filter('left_thumb') }}"  class="img-thumbnail mr-3 float-left"></a>
                <h6><a href="{{ path('article_show',{'slug': article.slug}) }}">{{ article.title }}</a></h6>
                <p><a href="{{ path('article_show',{'slug': article.slug}) }}">{{ article.summary }}</a></p>
            </li>
        {% else %}
        <li class="list-group-item">目前没有任何内容</li>
    {% endfor %}
        </ul>
        {% if articles.haveToPaginate is defined %}
            <div class="navigation my-3 center-block">
                {{ pagerfanta(articles, 'twitter_bootstrap4_translated') }}
            </div>
        {% endif %}
    </div>
{% endblock %}