<div class="case-container bg-secondary">
    <div class="container py-5">
        <div class="row text-center">
            <h2 class="col-12 text-white my-3"><span class="oi oi-briefcase mx-3"></span>客户案例</h2>
            <div class="col-md-3 col-sm-12 case-wrapper">
                <a href="#">
                    <img src="{{ asset('/uploader/images/case.jpg') }}" class="img-fluid" alt="">
                </a>
                <div class="case-swiper text-white h-100">
                    <p class="text-center">某某公司</p>
                    <a href="#">查看更多</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 case-wrapper">
                <a href="#">
                    <img src="{{ asset('/uploader/images/case.jpg') }}" class="img-fluid" alt="">
                </a>
                <div class="case-swiper text-white h-100">
                    <p class="text-center">某某公司</p>
                    <a href="#">查看更多</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 case-wrapper">
                <a href="#">
                    <img src="{{ asset('/uploader/images/case.jpg') }}" class="img-fluid" alt="">
                </a>
                <div class="case-swiper text-white h-100">
                    <p class="text-center">某某公司</p>
                    <a href="#">查看更多</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 case-wrapper">
                <a href="#">
                    <img src="{{ asset('/uploader/images/case.jpg') }}" class="img-fluid" alt="">
                </a>
                <div class="case-swiper text-white h-100">
                    <p class="text-center">某某公司</p>
                    <a href="#">查看更多</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 case-wrapper">
                <a href="#">
                    <img src="{{ asset('/uploader/images/case.jpg') }}" class="img-fluid" alt="">
                </a>
                <div class="case-swiper text-white h-100">
                    <p class="text-center">某某公司</p>
                    <a href="#">查看更多</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 case-wrapper">
                <a href="#">
                    <img src="{{ asset('/uploader/images/case.jpg') }}" class="img-fluid" alt="">
                </a>
                <div class="case-swiper text-white h-100">
                    <p class="text-center">某某公司</p>
                    <a href="#">查看更多</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 case-wrapper">
                <a href="#">
                    <img src="{{ asset('/uploader/images/case.jpg') }}" class="img-fluid" alt="">
                </a>
                <div class="case-swiper text-white h-100">
                    <p class="text-center">某某公司</p>
                    <a href="#">查看更多</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 case-wrapper">
                <a href="#">
                    <img src="{{ asset('/uploader/images/case.jpg') }}" class="img-fluid" alt="">
                </a>
                <div class="case-swiper text-white h-100">
                    <p class="text-center">某某公司</p>
                    <a href="#">查看更多</a>
                </div>
            </div>
        </div>
    </div>
</div>
