<div class="case-container bg-secondary">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">客户案例</li>
        </ol>
    </nav>

    <div class="container py-5">
        <div class="row text-center">
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">标题</h4>
                    <p class="card-text">内容</p>
                </div>
                <div class="card-footer">分类</div>
            </div>

            <div class="col-md-3 col-sm-12 case-wrapper">
                <a href="#">
                    <img src="{{ asset('/uploader/images/case.jpg') }}" class="img-fluid" alt="">
                </a>
                <div class="case-swiper text-white h-100">
                    <p class="text-center">某某公司</p>
                    <a href="#">查看更多</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 case-wrapper">
                <a href="#">
                    <img src="{{ asset('/uploader/images/case.jpg') }}" class="img-fluid" alt="">
                </a>
                <div class="case-swiper text-white h-100">
                    <p class="text-center">某某公司</p>
                    <a href="#">查看更多</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 case-wrapper">
                <a href="#">
                    <img src="{{ asset('/uploader/images/case.jpg') }}" class="img-fluid" alt="">
                </a>
                <div class="case-swiper text-white h-100">
                    <p class="text-center">某某公司</p>
                    <a href="#">查看更多</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 case-wrapper">
                <a href="#">
                    <img src="{{ asset('/uploader/images/case.jpg') }}" class="img-fluid" alt="">
                </a>
                <div class="case-swiper text-white h-100">
                    <p class="text-center">某某公司</p>
                    <a href="#">查看更多</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 case-wrapper">
                <a href="#">
                    <img src="{{ asset('/uploader/images/case.jpg') }}" class="img-fluid" alt="">
                </a>
                <div class="case-swiper text-white h-100">
                    <p class="text-center">某某公司</p>
                    <a href="#">查看更多</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 case-wrapper">
                <a href="#">
                    <img src="{{ asset('/uploader/images/case.jpg') }}" class="img-fluid" alt="">
                </a>
                <div class="case-swiper text-white h-100">
                    <p class="text-center">某某公司</p>
                    <a href="#">查看更多</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 case-wrapper">
                <a href="#">
                    <img src="{{ asset('/uploader/images/case.jpg') }}" class="img-fluid" alt="">
                </a>
                <div class="case-swiper text-white h-100">
                    <p class="text-center">某某公司</p>
                    <a href="#">查看更多</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 case-wrapper">
                <a href="#">
                    <img src="{{ asset('/uploader/images/case.jpg') }}" class="img-fluid" alt="">
                </a>
                <div class="case-swiper text-white h-100">
                    <p class="text-center">某某公司</p>
                    <a href="#">查看更多</a>
                </div>
            </div>
        </div>
    </div>
</div>
