{% extends 'base.html.twig' %}
{% block title %}客户案例_{{ parent() }}{% endblock %}
{% block body %}
    <div class="container my-5">
        <div class="row">
            {% for article in articles %}
            <div class="col-md-6 my-3">
                <img class="rounded float-left mr-3" src="{{ article.titleImg }}" alt="">
                <h4><a href="{{ path('article_show',{'slug' : article.slug}) }}">{{ article.title }}</a></h4>
                <p><a href="{{ path('article_show',{'slug' : article.slug}) }}">{{ article.summary }}</a></p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}