<footer id="footer" class="bg-dark py-5">
   <div class="container text-white">
       <div class="row">
           <div class="col-md-3">
               <h6>联系我们</h6>
               <ul class="list-group list-group-flush">
                   <li class="list-group-item bg-dark">{{ site.siteName }}</li>
                   <li class="list-group-item bg-dark">地址：{{ site.address }}</li>
                   <li class="list-group-item bg-dark">电话: <a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
                   <li class="list-group-item bg-dark">邮箱：<a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
               </ul>
           </div>
           <div class="col-md-3">
               <h6>相关链接</h6>
               <ul class="list-group list-group-flush">
                   {% for link in releLinks()|slice(0,6) %}
                       <li class="list-group-item bg-dark">
                           <a href="{{ link.url }}" >
                               {{ link.name }}
                           </a>
                       </li>
                   {% else %}
                       <li class="how-bor1 p-rl-5 p-tb-10">没有链接</li>
                   {% endfor %}

               </ul>
           </div>

           <div class="col-md-3">
               <h6>相关知识</h6>
               <ul class="list-group list-group-flush">
                   <li class="list-group-item bg-dark"><a href="{{ path('category_show',{slug:'html.html'}) }}">HTML</a></li>
                   <li class="list-group-item bg-dark"><a href="{{ path('category_show',{slug:'CSS.html'}) }}">CSS</a></li>
                   <li class="list-group-item bg-dark"><a href="{{ path('category_show',{slug:'JavaScript.html'}) }}">JavaScript</a></li>
                   <li class="list-group-item bg-dark"><a href="{{ path('category_show',{slug:'PHP.html'}) }}">PHP</a></li>
               </ul>
           </div>
           <div class="col-md-3">
               <h6>友情链接</h6>
               <ul class="list-group list-group-flush">
                   {% for link in friendLinks()|slice(0,6) %}
                       <li class="list-group-item bg-dark">
                           <a href="{{ link.url }}" target="_blank">
                               {{ link.name }}
                           </a>
                       </li>
                   {% else %}
                       <li class="how-bor1 p-rl-5 p-tb-10">没有链接</li>
                   {% endfor %}
               </ul>
           </div>
       </div>
       <div class="row text-center">
           <div class="col-12 my-3">
               <p><a href="{{ path('sitemap_html') }}">网站导航</a>|<a href="/sitemap.xml">网站地图</a></p>
               <p>CopyRight&copy;{{ site.copyRight }}</p>
               <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">{{ site.beian }}</a>
           </div>
       </div>
   </div>
</footer>