<footer id="footer" class="bg-dark py-5">
   <div class="container text-white">
       <div class="row">
           <div class="col-md-4">
               <h5>联系我们</h5>
               <ul class="list-group list-group-flush">
                   <li class="list-group-item bg-dark">地址：北海市海城区西藏路民生路网回建小区</li>
                   <li class="list-group-item bg-dark">电话: <a href="tel:18577906076">185-7790-6076</a></li>
                   <li class="list-group-item bg-dark">邮箱：<a href="mailto:admin@drupai.com">admin@drupai.com</a></li>
                   <li class="list-group-item bg-dark">邮箱：<a href="mailto:233238526@qq.com">233238526@qq.com</a></li>
               </ul>

           </div>
           <div class="col-md-4">
               <h5>相关链接</h5>
               <ul class="list-group list-group-flush">
                   <li class="list-group-item bg-dark"><a href="{{ path('product_list') }}">产品中心</a></li>
                   <li class="list-group-item bg-dark"><a href="{{ path('case_list') }}">客户案例</a></li>
                   <li class="list-group-item bg-dark"><a href="{{ path('news_list') }}">最新动态</a></li>
                   <li class="list-group-item bg-dark"><a href="{{ path('article_show',{slug:'lian-xi-wo-men.html'}) }}">联系我们</a></li>
               </ul>
           </div>
           <div class="col-md-4">
               <h5>相关知识</h5>
               <ul class="list-group list-group-flush">
                   <li class="list-group-item bg-dark"><a href="{{ path('category_show',{slug:'html.html'}) }}">HTML</a></li>
                   <li class="list-group-item bg-dark"><a href="{{ path('category_show',{slug:'CSS.html'}) }}">CSS</a></li>
                   <li class="list-group-item bg-dark"><a href="{{ path('category_show',{slug:'JavaScript.html'}) }}">JavaScript</a></li>
                   <li class="list-group-item bg-dark"><a href="{{ path('category_show',{slug:'PHP.html'}) }}">PHP</a></li>
                   <li class="list-group-item bg-dark"><a href="{{ path('category_show',{slug:'gong-zhong-ping-tai.html'}) }}">公众平台</a></li>
                   <li class="list-group-item bg-dark"><a href="{{ path('category_show',{slug:'xiao-chen-xu.html'}) }}">小程序</a></li>
               </ul>
           </div>
       </div>
       <div class="row text-center">
           <h5 class="col-12 my-4">友情链接</h5>
           <div class="col-6 mx-auto">
               <div class="row">
                   <div class="col-md-3"><a href="http://drupalchina.cn/" target="_blank">drupal花园</a></div>
                   <div class="col-md-3"><a href="http://www.drupalla.com/" target="_blank">猪跑啦</a></div>
                   <div class="col-md-3"><a href="http://www.bhxzs.com" target="_blank">新中盛</a></div>
                   <div class="col-md-3"><a href="http://www.whyyee.cn" target="_blank">未因</a></div>
               </div>
           </div>

           <div class="col-12 my-3"><a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">桂ICP备16001430号</a></div>
       </div>
   </div>
</footer>