{% extends 'base.html.twig' %}

{% block title %}{{ city_page.mainWord }}行业网站制作_网站开发_做网站_{{ parent() }}{% endblock %}
{% block keywords %}{{ city_page.keywords }}{% endblock %}
{% block description %}{{ city_page.description }}{% endblock %}

{% if city_page.parentPage %}
    {% set parent = city_page.parentPage %}
    {% if parent.parentPage  %}
        {% set faparent = parent.parentPage %}
    {% endif %}
{% endif %}
{% if city_page.subLinks %}
    {% set sub_links = city_page.subLinks %}
{% endif %}


{% set reglink = 'http://shop.drupai.com/admin/signup.php' %}

{% block body %}
    <div class="container py-5" id="page-city-article">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">首页</a></li>
                {% if  faparent is defined %}
                    <li class="breadcrumb-item"><a href="{{ path("city_page_show",{slug: faparent.slug}) }}">{{ faparent.mainWord }}行业网站制作</a></li>
                {% endif %}
                {% if parent is defined %}
                <li class="breadcrumb-item"><a href="{{ path("city_page_show",{slug: parent.slug}) }}">{{ parent.mainWord }}行业网站制作</a></li>
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page">{{ city_page.mainWord }}行业网站制作</li>
            </ol>
        </nav>

        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">相关行业</div>
                    <div class="card-body">
                        <div class="row">
                            {% for same_area in sub_links %}
                                <div class="col-md-2 col-4">
                                    <a  href="{{ path("city_page_show",{slug: same_area.slug }) }}">{{ same_area.mainWord }}</a>
                                </div>
                            {% else %}
                                {% for same_city in parent.subLinks %}
                                    <div class="col-md-2 col-4"><a  href="{{ path("city_page_show",{slug: same_city.slug}) }}">{{ same_city.mainWord }}</a></div>
                                {% else %}
                                {% endfor %}
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-9">
                <div class="card mb-3">
                    <h1 class="card-header">助派网络营销推广助手-{{ city_page.mainWord }}网站建设说明：</h1>
                    <div class="card-body">
                        <p class="py-md-3 text-indent-2">助派网络营销推广助手基于领先的多合一智能建站系统，以专业的在线服务精神，致力于向客户提供优质的网站建设，微信公众号开发，小程序制作为核心的服务和企业网站运营、推广解决方案，为{{ city_page.mainWord }}企业网站建设，微信公众号开发，小程序制作创造长期的价值和挖掘潜在的增长。</p>
                        <blockquote class="blockquote">
                            <footer class="blockquote-footer text-right">{{ city_page.createdAt | date("Y年m月d日") }}</footer>
                        </blockquote>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        我们的产品
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-body row">
                                <div class="col-md-3 text-center">
                                    <img src="{{ asset('build/images/web-pc.jpg') }}" alt="做企业网站" class="img-thumbnail rounded">
                                </div>
                                <div class="col-md-9">
                                    <h2 class="card-title">{{ city_page.mainWord }}行业标准网站建设</h2>
                                    <p class="card-text text-indent-2">标准网站建设是为{{ city_page.mainWord }}行业的中小企型业提供标准化的网站建设，主要功能包括公司简介、产品、品牌信息发布，QQ在线客服，百度搜索引擎优化等，满足{{ city_page.mainWord }}行业企业所需标准网站建设。</p>
                                    <div class="text-right"><a href="{{ reglink }}" class="btn btn-outline-primary">立即注册</a></div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card-body row">
                                <div class="col-md-3 text-center">
                                    <img src="{{ asset('build/images/web-phone.jpg') }}" alt="做手机网站" class="img-thumbnail rounded">
                                </div>
                                <div class="col-md-9">
                                    <h2 class="card-title">{{ city_page.mainWord }}行业企业手机网站建设</h2>
                                    <p class="card-text text-indent-2">手机网站建设是为{{ city_page.mainWord }}行业的中小型企业提供手机网站建设服务，主要功能包括适应不同手机显示，无论手机屏幕大小都能正确显示企业要显示的信息，版块有公司简介、产品、品牌、联系等信息，满足{{ city_page.mainWord }}行业的企业对手机网站的建设需求。</p>
                                    <div class="text-right"><a href="{{ reglink }}" class="btn btn-outline-primary">立即注册</a></div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card-body row">
                                <div class="col-md-3 text-center">
                                    <img src="{{ asset('build/images/web-th.jpg') }}" alt="做响应式网站" class="img-thumbnail rounded">
                                </div>
                                <div class="col-md-9">
                                    <h2 class="card-title">{{ city_page.mainWord }}行业多合一网站建设</h2>
                                    <p class="card-text text-indent-2">多合一网站建设是为满足{{ city_page.mainWord }}行业的中小型企业对网站多端展示的高要求而服务，主要特点是同时建立电脑、手机、微信网站等多终端的网站，采用自动化响应技术，自动识别和呈现终端类型
                                        PC端网站、移动端网站、微网站使用同一个底层数据，一个后台同步更新数据，是{{ city_page.mainWord }}行业的企业做多渠道营销的必备平台。</p>
                                    <div class="text-right"><a href="{{ reglink }}" class="btn btn-outline-primary">立即注册</a></div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card-body row">
                                <div class="col-md-3 text-center">
                                    <img src="{{ asset('build/images/web-shop.jpg') }}" alt="网站商城制作" class="img-thumbnail rounded float-left">
                                </div>
                                <div class="col-md-9">
                                    <h2 class="card-title">{{ city_page.mainWord }}商城网站建设</h2>
                                    <p class="card-text text-indent-2">商城网站建设是为{{ city_page.mainWord }}的中小企业提供电子商务的网站建设，主要功能包括商品促销、商品下单、会员注册、在线下单、在线支付、订单管理等，满足{{ city_page.mainWord }}企业商城网站建设所需。</p>
                                    <div class="text-right"><a href="{{ reglink }}" class="btn btn-outline-primary">立即注册</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            {% block siderbar %}
                    <div class="col-md-3">
                        <div class="card mb-3">
                            <div class="card-header"><i class="iconfont iconjiangzhang- text-info"></i>我们的优势</div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="card-body">
                                        <div class="text-center"><i class="iconfont iconfree rem-3 text-success"></i></div>
                                        <h6 class="card-title">建站免费开户</h6>
                                        <p class="card-text">我们承诺对用户不受时间限制、不受企业、不受个人限制永久免费开放注册端口！</p>
                                    </div>
                                    <a href="{{ reglink }}" class="btn btn-outline-primary btn-lg btn-block">立即注册</a>
                                </li>
                                <li class="list-group-item">
                                    <div class="card-body">
                                        <div class="text-center"><i class="iconfont iconshiyong rem-3 text-danger"></i></div>
                                        <h6 class="card-title">建站免费试用</h6>
                                        <p class="card-text">我们承诺对用户从开通站点之日起免费试用15天，15天内不满意全额退款！</p>
                                    </div>
                                    <a href="{{ reglink }}" class="btn btn-outline-primary btn-lg btn-block">立即注册</a>
                                </li>
                                <li class="list-group-item">
                                    <div class="card-body">
                                        <div class="text-center"><i class="iconfont iconpublic rem-3 text-info"></i></div>
                                        <h6 class="card-title">建站信息透明</h6>
                                        <p class="card-text">我们承诺对用户所有建站费用信息公开透明，不会包含任何隐性消费！</p>
                                    </div>
                                    <a href="{{ reglink }}" class="btn btn-outline-primary btn-lg btn-block">立即注册</a>
                                </li>
                                <li class="list-group-item">
                                    <div class="card-body">
                                        <div class="text-center"><i class="iconfont iconVIP rem-3 text-warning"></i></div>
                                        <h6 class="card-title">尊享全国最低特惠服务</h6>
                                        <p class="card-text">尊享全国最低价，网站空间(5000M)+国际顶级域名一个只需800元/年，让您的网站国际化！</p>
                                    </div>
                                    <a href="{{ reglink }}" class="btn btn-outline-primary btn-lg btn-block">立即注册</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header"><i class="iconfont iconlianxi1 text-info"></i>联系我们</div>
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="text-danger">建站咨询</strong>
                                    <br/><i class="iconfont iconlianxi text-danger"></i>185-7790-6076<br/>
                                    <i class="iconfont iconshijian text-success"></i>服务时间: 8:00-18:00
                                </p>
                            </div>
                        </div>
                    </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}