{% extends 'base.html.twig' %}

{% block keywords %}{{ article.keywords }}{% endblock %}
{% block title %}{{ article.title }}_{{ parent() }}{% endblock %}

{% block body %}
    <div class="container my-3" id="page-article">

        {{ include("default/breadcrumb.html.twig",{object: article}) }}

        <div class="row my-3">
            <div class="col-md-9  article-warp">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center">{{ article.title }}</h2>
                        <blockquote class="blockquote">
                            <footer class="blockquote-footer text-center">作者:{{ article.author }}</footer>
                        </blockquote>
                        <article class="py-md-3 article-body">{{ article.content | relink | raw }}</article>
                    </div>
                </div>

            </div>
            {% block siderbar %}
                {% if article.category %}
                <div class="col-md-3">
                    {{ relations(article.category) }}
                </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>

{% endblock %}